// ABOUT
.about {
	margin-bottom: 40px;
	font-size: 0.9rem;

	&__title {
		font-family: $font-bold;
		@include text-size-height(1.5rem, 2rem);
		text-transform: capitalize;
		margin: 32px 0 24px;
		@include tablet() {
			@include text-size-height(2.25rem, 2.75rem);
		}
	}

	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__quote {
		margin: 24px 0 0 0;
		font-family: $font-demi;
		@include text-size-height(inherit, 1.35rem);
	}

	&__quote-source {
		margin: 32px 0 0 0;
		font-family: $font-demi;
		font-size: 0.8rem;
	}

	&__summary {
		&__title {
			margin: 40px 0 0 0;
			font-family: $font-demi;
			font-size: inherit;
		}

		&__content {
			margin: 24px 0 0 0;
			font-family: $font-light;
			@include text-size-height(0.8rem, 1.3rem);
		}
	}
}
