// FOOTER
.main-footer {
	padding-bottom: 5px;
	background: $navigation-background-fill;
	color: #fff;
	text-transform: capitalize;

	&__title {
		margin: 0;
		padding-top: 40px;
		font-family: $font-bold;
		@include tablet() {
			@include text-size-height(2.25rem, 2.75rem);
			padding: 40px 0;
		}
		@include desktop() {
			padding: 48px 0 56px;
		}
	}

	&__social {
		margin: 28px 6px 0;
		width: 35%;
		display: flex;
		justify-content: space-between;
		@include tablet() {
			justify-content: flex-start;
		}
		@include desktop() {
			margin-right: auto;
			margin-left: 64px;
		}

		&__link {
			@include tablet() {
				margin-right: 32px;
			}
		}
	}

	&__logo {
		display: none;
		height: 20px;
		width: 120px;
		@include tablet() {
			display: block;
		}
	}

	&__contacts {
		@include text-size-height(0.8rem, 1.125rem);
		@include tablet() {
			@include text-size-height(1rem, 1.3rem);
		}
	}

	&__contact {
		margin-top: 24px;
		line-height: 1.1rem;
		&--name {
			margin: 0;
			font-family: $font-demi;
			font-size: inherit;
		}

		&--address {
			margin: 0;
			font-family: $font-light;
			font-size: inherit;

			&:first-of-type {
				margin-top: 24px;
			}
		}

		&--email {
			font-family: $font-light;
			text-transform: lowercase;
			margin: 24px 0 0 0;

			&--cap {
				text-transform: none;
			}
		}
	}

	&__legal {
		margin: 40px 0;
		font-family: $font-light;
		font-size: 0.8rem;
		@include tablet() {
			font-size: 1rem;
		}
	}
}
