// GALLERY
.gallery {
	background: $text-field-background-fill;
	padding: 32px 0;

	&__title {
		margin: 0 0 24px 0;
		font-family: $font-bold;
		font-size: 1.5rem;
		text-transform: capitalize;
	}

	&__img {
		width: 100%;
		margin-bottom: 16px;
		@include tablet() {
			height: 126px;
			width: 224px;
		}
	}
}
