// HERO
.hero {
	position: relative;
	height: 183px;
	background: url("../assets/images/Photo-hero.jpg");
	background-size: cover;

	&__title {
		margin: 0;
		font-family: $font-bold;
		font-size: 1.5rem;
		color: #fff;
	}
}
