// HERO
.hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 183px;
	// placeholder background
	background: url("../assets/images/Photo-hero.jpg");
	background-size: cover;

	&__title {
		margin: 0;
		font-family: $font-bold;
		font-size: 1.5rem;
		color: #fff;
	}
}
