@keyframes expand-width {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

@keyframes scale-up {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.5);
	}
}

@keyframes shadow {
	from {
		box-shadow: 0;
	}
	to {
		box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);
	}
}

@keyframes saturate {
	from {
		filter: grayscale(70%);
	}
	to {
		filter: none;
	}
}
