// COLORS
$paragraph-text: #323232;
$text-label-style: #afafaf;
$text-field-border: #e1e1e1;
$text-field-background-fill: #fafafa;
$navigation-background-fill: #323232;
$primary-CTA: #323232;
$primary-CTA-hover: #0065ad;

// BREAKPOINTS
