@font-face {
  font-family: "Avenir Next Ultra Light";
  src: url("../assets/fonts/Linotype - AvenirNextLTPro-Ultlt.otf") format("opentype");
  src: url("../assets/fonts/Alternative files/Linotype - Avenir Next LT Pro Ultra Light.ttf") format("truetype");
}

@font-face {
  font-family: "Avenir Next Regular";
  src: url("../assets/fonts/Linotype - AvenirNextLTPro-Regular.otf") format("opentype");
  src: url("../assets/fonts/Alternative files/Linotype - Avenir Next LT Pro.ttf") format("truetype");
}

@font-face {
  font-family: "Avenir Next Medium";
  src: url("../assets/fonts/Linotype - AvenirNextLTPro-Medium.otf") format("opentype");
  src: url("../assets/fonts/Alternative files/Linotype - Avenir Next LT Pro Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Avenir Next Demi Bold";
  src: url("../assets/fonts/Linotype - AvenirNextLTPro-Demi.otf") format("opentype");
  src: url("../assets/fonts/Alternative files/Linotype - Avenir Next LT Pro Demi.ttf") format("truetype");
}

@font-face {
  font-family: "Avenir Next Bold";
  src: url("../assets/fonts/Linotype - AvenirNextLTPro-Bold.otf") format("opentype");
  src: url("../assets/fonts/Alternative files/Linotype - Avenir Next LT Pro Bold.ttf") format("truetype");
}

html,
body {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

html,
body {
  font-family: "Avenir Next Regular";
  color: #323232;
}

.container {
  margin: 0 16px;
}

.aspect-ratio-container--two-to-one {
  position: relative;
}

.aspect-ratio-container--two-to-one::after {
  content: "";
  display: block;
  padding-top: 50%;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  background: #323232;
  color: #fff;
}

.main-header__logo {
  margin: 0;
  padding: 12px;
}

.main-header__nav {
  width: 100%;
  height: 50%;
}

.main-header__nav__list {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.main-header__nav__link {
  padding-bottom: 12px;
}

.main-header__nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 50%;
  height: 100%;
  color: #afafaf;
  font-size: 0.9rem;
  text-transform: capitalize;
}

.main-header__nav__item--active {
  color: #fff;
  font-family: "Avenir Next Medium";
}

.main-header__nav__item--active::before {
  content: "";
  position: absolute;
  height: 4px;
  width: 100%;
  left: 0;
  bottom: 0;
  background: #fff;
}

.hero {
  position: relative;
  height: 183px;
  background: url("../assets/images/Photo-hero.jpg");
  background-size: cover;
}

.hero .overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(50, 50, 50, 0.5);
}

.hero__title {
  margin: 0;
  font-family: "Avenir Next Bold";
  font-size: 1.5rem;
  color: #fff;
}

.about {
  margin-bottom: 40px;
  font-size: 0.9rem;
}

.about__title {
  font-family: "Avenir Next Bold";
  font-size: 1.5rem;
  text-transform: capitalize;
  margin: 32px 0 24px;
}

.about__img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.aspect-ratio-container--two-to-one .about__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.about__quote {
  margin: 24px 0 0 0;
  font-family: "Avenir Next Demi Bold";
  font-size: inherit;
  line-height: 1.35rem;
}

.about__quote-source {
  margin: 32px 0 0 0;
  font-family: "Avenir Next Demi Bold";
  font-size: 0.8rem;
}

.about__summary__title {
  margin: 40px 0 0 0;
  font-family: "Avenir Next Demi Bold";
  font-size: inherit;
}

.about__summary__content {
  margin: 24px 0 0 0;
  font-family: "Avenir Next Ultra Light";
  font-size: 0.8rem;
  line-height: 1.3rem;
}

.gallery {
  background: #fafafa;
  padding: 32px 0;
}

.gallery__title {
  margin: 0 0 24px 0;
  font-family: "Avenir Next Bold";
  font-size: 1.5rem;
  text-transform: capitalize;
}

.gallery__img {
  width: 100%;
  margin-bottom: 16px;
}

.main-footer {
  padding-left: 10px;
  padding-bottom: 20px;
  background: #323232;
  color: #fff;
  text-transform: capitalize;
}

.main-footer__title {
  margin: 0;
  padding-top: 40px;
  font-family: "Avenir Next Bold";
}

.main-footer__social {
  margin: 28px 6px;
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-footer__contacts {
  font-size: 0.8rem;
}

.main-footer__contact {
  line-height: 1.1rem;
}

.main-footer__contact__name {
  margin: 0;
  font-family: "Avenir Next Demi Bold";
  font-size: inherit;
}

.main-footer__contact__address {
  margin: 0;
  font-family: "Avenir Next Ultra Light";
  font-size: inherit;
}

.main-footer__contact__address:first-of-type {
  margin-top: 16px;
}

.main-footer__contact__email {
  font-family: "Avenir Next Ultra Light";
  text-transform: lowercase;
}

.main-footer__contact__email--cap {
  text-transform: none;
}

.main-footer__legal {
  margin: 28px 0;
  font-family: "Avenir Next Ultra Light";
  font-size: 0.8rem;
}
/*# sourceMappingURL=main.css.map */