@import "./partials/variables";
@import "./partials/fonts";
@import "./partials/reset";
@import "./partials/base";
@import "./partials/util";
@import "./partials/header";
@import "./partials/hero";
@import "./partials/about";
@import "./partials/gallery";

// FOOTER
.main-footer {
	background: $navigation-background-fill;
	color: #fff;
	padding-left: 10px;
	text-transform: capitalize;

	&__title {
		margin: 0;
		padding-top: 50px;
		font-family: $font-bold;
	}
}
