// COLORS
$paragraph-text: #323232;
$text-label-style: #afafaf;
$text-field-border: #e1e1e1;
$text-field-background-fill: #fafafa;
$navigation-background-fill: #323232;
$primary-CTA: #323232;
$primary-hover: #000;
$danger-CTA: #f44336;
$danger-hover: #e53935;

// FONTS
$font-light: "Avenir Next Ultra Light";
$font-regular: "Avenir Next Regular";
$font-medium: "Avenir Next Medium";
$font-demi: "Avenir Next Demi Bold";
$font-bold: "Avenir Next Bold";

// BREAKPOINTS (referenced from Dividers.pdf in Style Guide)
$tablet-breakpoint: 720px;
$desktop-breakpoint: 1080px;
$large-desktop-breakpoint: 1440px;
